<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docs</title>
    <link rel="stylesheet" href="../styles/output.css">
</head>
<body>
    <div class="flex">
        <div class="w-1/4 bg-gray-700">
          <div class="p-4">
            <div class="text-4xl text-blue-300 font-bold mb-4 hover:text-blue-500"><a href="/">Home</a></div>
            <h2 class="text-4xl text-blue-300 font-bold mb-4 min-h-screen">Documentation</h2>
          </div>
        </div>
        <div class="w-3/4 h-screen bg-white">
        <div class="p-4">
            <h1 id="commands" class="text-2xl font-bold">Commands</h1>
            <h2 id="standard-commands">Standard Commands</h2>
            <h3 id="ban">Ban</h3>
            <p>Ban a member.
            <em>Usage:</em> ban <strong>member</strong> <strong>reason</strong></p>
            <h3 id="kick">Kick</h3>
            <p>Kick a member.
            <em>Usage:</em> kick <strong>member</strong> <strong>reason</strong></p>
            <h3 id="lock">Lock</h3>
            <p>Lock the server.
            <em>Usage:</em> lock</p>
            <h3 id="ping">Ping</h3>
            <p>Ping the bot.\
            <em>Usage:</em> ping</p>
            <h3 id="timeout">Timeout</h3>
            <p>Timeout a member.
            <em>Usage:</em> timeout <strong>member</strong> <strong>duration</strong> <strong>reason</strong></p>
            <h3 id="unlock">Unlock</h3>
            <p>Unlock the server.
            <em>Usage:</em> unlock</p>
            <h3 id="verify-setup">Verify-Setup</h3>
            <p>Setup the Verification System.
            <em>Usage:</em> verify-setup <strong>channel</strong> <strong>role</strong></p>
            <h2 id="announcement-commands">Announcement Commands</h2>
            <h3 id="announcement-change">Announcement Change</h3>
            <p>Change the announcement channel.
            <em>Usage:</em> announcement change <strong>channel</strong></p>
            <h3 id="announcement-lock">Announcement Lock</h3>
            <p>Lock the announcement channel.
            <em>Usage:</em> announcement lock <strong>channel</strong></p>
            <h3 id="announcement-unlock">Announcement Unlock</h3>
            <p>Unlock the announcement channel.
            <em>Usage:</em> announcement unlock</p>
            <h3 id="announcement-verify">Announcement Verify</h3>
            <p>Verify to send a message in the announcement channel.
            <em>Usage:</em> announcement verify</p>
            <h2 id="automod-commands">Automod Commands</h2>
            <h3 id="automod-enabled">Automod Enabled</h3>
            <p>enable or disable automod listener.
            <em>Usage:</em> automod enabled <strong>enabled</strong></p>
            <h3 id="automod-setup">Automod Setup</h3>
            <p>setup the Automod listener.
            <em>Usage:</em> automod setup <strong>limit</strong></p>
            <h2 id="banned-words-commands">Banned Words Commands</h2>
            <h3 id="banned-words-add">Banned Words Add</h3>
            <p>add a banned word or regex for usernames.
            <em>Usage:</em> banned-words add <strong>word</strong></p>
            <h3 id="banned-words-remove">Banned Words Remove</h3>
            <p>remove a banned word or regex for usernames.
            <em>Usage:</em> banned-words add <strong>word</strong></p>
            <h2 id="password-commands">Password Commands</h2>
            <h3 id="password-enabled">Password Enabled</h3>
            <p>enable or disabled the password system.
            <em>Usage:</em> password enabled <strong>setting</strong></p>
            <h3 id="password-forgot">Password Forgot</h3>
            <p>if you forgot your password use this command to reset it.
            <em>Usage:</em> password forgot</p>
            <h3 id="password-set">Password Set</h3>
            <p>Set up the password system for this server.
            <em>Usage:</em> password set <strong>password</strong> <strong>security-question</strong> <strong>security-answer</strong></p>
          </div>
        </div>
      </div>
</body>
</html>