<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rainy</title>
    <link rel="stylesheet" href="../styles/output.css">
</head>
<body class="bg-black">
    <h1 class="font-sans text-center text-blue-500 text-5xl font-bold mt-3">
        <span class="font-sans text-5xl bg-gradient-to-r from-blue-500 to-fuchsia-500 text-transparent bg-clip-text font-bold">This Is Overseer.<br></span>
        <span class="text-center mt-3 text-4xl">
            The essential security bot.<br>AutoMod, Verification, Anti-Raid, and more.
        </span>
    </h1>
    <%- include('./components/home-buttons.html') %>
    <h1 class="text-center text-blue-600 text-4xl font-sans font-bold mt-6">
        What are you waiting for? Click the buttons above to get started.
    </h1>
    <img src="../assets/9c572888951cc265b77c6282e56b1dd7.png" class="bg-center scale-75 block ml-auto mr-auto -mt-24">
</body>
</html>