<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rainy</title>
    <link rel="stylesheet" href="../styles/output.css">
</head>
<body class="bg-gray-700">
    <%- include('./components/header.html') %>
    <h1 class="font-sans text-center text-blue-500 text-5xl font-bold mt-3">
        <span class="font-sans text-5xl bg-gradient-to-r from-blue-500 to-fuchsia-500 text-transparent bg-clip-text font-bold">Hello, Welcome To My Site!</span>
    </h1>
</body>
</html>